body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    
}

h1 {
    color: whitesmoke; 
    font-size: 60pt;
    transform: translateY(-170%);
    text-align: center;
}
h3 {
    color: whitesmoke; 
    font-size: 15pt;
    text-align: center;
    transform: translateY(-800%);

}



.icone {
    padding: 10px;
}

#icones {
    text-align: center;
    transform: translateY(100%);
    opacity: 60%;
}


#parte1 {
    
    background-image:url(./imagens/portfolio_imgtech.jpg);
    background-size:cover;
    background-attachment: fixed;
    padding: 350px;
    color: #E3EDE1;
    
}

#sobre {
    
    color: whitesmoke;
    font-size: 20pt;
    background-color: #082E43;
    padding: 150px;
    

}

.sobre {
transform: translateY(-200%);
text-align: center;
}


#foto {
width: 200px;

background-color: #ddd;
border-radius: 100%;
height: 200px;
object-fit: cover;


}

#photo {
   
}


#bio {

width: 700px;
text-align: center; 


  
}





.lista {
color: whitesmoke;
text-align: center;
font-size: 20pt;
background-color: #34AEBE;
margin-top: 0pt;
padding: 100px;


}