body {
    margin: 0px 0px;
    padding: 0px 0px;
    font-family: Helvetica, sans-serif;

}

h1 {
    text-align: center;
    font-weight: 500;
    font-size: 400%;
    color: white;
    
}

#header {
    background-color: #1B1233;
    padding: 15.5%;
    text-align: center;  
    margin: auto;
    
}

.icone {
    padding: 1%;
    margin-bottom: 8%;
}

#about-button {
    text-decoration: none;
    font-size: 200%;
    color: white;
    background-color: #5B76BD;
    padding: 1%;
    border-radius: 6%;
    
}

#about {
    
    font-size: 20pt;
   background-color:#5B76BD ;
   color:white;
    position: relative;
    height: 388px;
    padding: 2px;
    
  
    
}

#profileImage {
    float: left;
    border: 2px solid blue;
    border-radius: 50%;
    object-fit: cover;
    height: 250px;
    width: 250px;
    position: absolute;
    margin-left: 10%;
   
}

#profileText {
  
   position: absolute;
   width: 50%;
   
   font-size: 16pt;
   margin-top: 3%;
   margin-left: 30%;
   color:white;
   
}

h2 {
    border:2px solid brown;
    text-align: center;
    font-weight: 500;
    
}

.lista {
    height: 388px;
}

#linktrybe {
    color: white;
    
}
#linktrybe:hover {
    color: #9AFCE7;
}