body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0pt;
}    

h1 {
    font-size: 25pt;
    margin-top: -40pt;
    font-weight: 300;
}




.icone {
    width: 30px;
    padding: 2%;
    
}

#button {
    background-color: #34AEBE;
    text-align: center;
    border-style: none;
    width: 10%;
    position:relative;
    padding: 2%;
    font-size: 16pt;
    border-radius: 10px;
    margin-top: 20pt;

}

#parte1{
color: whitesmoke;
text-align: center;
background-color: #082E43;
padding: 25%;
}

#sobre {
    color: whitesmoke;
    background-color: #374247;
    text-align: center;
    padding: 10px;
    display: inline-block;

}

#bio {
    width: 50%;
    text-align: center;
    margin-left: 25%;
}

#foto {
    width: 200px;
    
    background-color: #ddd;
    border-radius: 100%;
    height: 200px;
    object-fit: cover;
}

.lista {
    color: whitesmoke;
    width: 100%;
   
    
    background-color: #117E71;
    padding: 100px;


}
li {
    

}
