body {
    margin: 0px 0px;
    padding: 0px 0px;
    font-family: Helvetica, sans-serif;
}

h1 {
    text-align: center;
    font-weight: 400;
    font-size:35px;
    color: white; 
    padding-bottom: 6%;  
}

.nome {
    text-align: center;
    margin-left: 0;
    display: block;
}

#header {
    background-color: #1B1233;
    padding: 15.4%;
    text-align: center;  
    margin: auto;   
    padding-bottom: 18%;
}

.icone {
    padding: 1%;
    margin-bottom: 8%;
    width: 40px;   
}

#about-button {
    text-decoration: none;
    font-size: 150%;
    color: white;
    background-color: #5B76BD;
    padding: 1%;
    border-radius: 6%;    
}

#about {
    font-size: 20pt;
    background-color:#373475 ;
    color:white;
    text-align: center;
    padding: 4.3%;
    padding-top: 5%;
    padding-bottom: 8%;

      
}

#profileImage {
   
    border: 5px solid #25eedda9;
    border-radius: 50%;
    object-fit: cover;
    height: 250px;
    width: 250px;
    transform: translateY(-4%);   
}

#profileText { 
    width: 100%; 
    font-size: 16pt;
    color:white;
    line-height: 1.5em; 
    margin: auto; 
}

h2 {
    text-align: center;
    font-weight: 500;
    display: inline;   
}

.lista {
    background-color: #5B76BD;
    text-align: center;
    list-style: none;
    font-size: 16pt;
    font-weight: 500;   
}

#linktrybe {
    color: white;    
}

#linktrybe:hover {
    color: #9AFCE7;
}

ul {
    background-color: #1B1233;
    padding: 0.8%;
    margin: 0;
    color: white;
}

.lista li {
    line-height: 1.5em;
    padding: 12px;
    font-size: 18pt;
    color: white;
}

li:last-of-type:hover {
    background-color: #FF5725;
    color:#E3EDE1;
}

li:hover {
    background-color: #0F88D9;
    color:#D4FEFF ;
}


    


