body {
    margin: 0px 0px;
    padding: 0px 0px;
    font-family: Helvetica, sans-serif;

}

h1 {
    text-align: center;
    font-weight: 500;
    font-size: 400%;
    color: white;
    
}

#header {
    background-color: #1B1233;
    padding: 15.5%;
    text-align: center;  
    margin: auto;
    
}

.icone {
    padding: 1%;
    margin-bottom: 8%;
}

#about-button {
    text-decoration: none;
    font-size: 200%;
    color: white;
    background-color: #5B76BD;
    padding: 1%;
    border-radius: 6%;
    
}

#about {
    
    font-size: 20pt;
   background-color:#373475 ;
   color:white;
    position: relative;
    height: 400px;
    padding: 3px;
    
  
    
}

#profileImage {
    float: left;
    border: 5px solid #25eedda9;
    border-radius: 50%;
    object-fit: cover;
    height: 250px;
    width: 250px;
   position: absolute;
    margin-left: 4%;
    
    
   
}

#profileText {
  
   
   width: 50%;
   position: absolute;
   font-size: 16pt;
   
   margin-left: 25%;
   color:white;
   line-height: 1.5em;
   
}

h2 {
    
    text-align: center;
    font-weight: 500;
    
    
}

.lista {
    background-color: #5B76BD;
    
    text-align: center;
    list-style: none;
    height: 386px;
    font-size: 16pt;
    font-weight: 500;
    
}

#linktrybe {
    color: white;
    
}
#linktrybe:hover {
    color: #9AFCE7;
}
ul {
    background-color: #1B1233;
    padding: 1%;
    margin: 0;
    color: white;
    
    


}
.lista li {
    line-height: 1.5em;
    padding: 15px;
    font-size: 18pt;
    color: white;
}

li:hover {
    background-color: #21C9CC;
    color:#D4FEFF ;
}

}


    


