body {
    margin: 0px 0px;
    padding: 0px 0px;
    font-family: Helvetica, sans-serif;
}

h1 {
    text-align: center;
    font-weight: 500;
    font-size: 50pt;
    color: white;   
}

#header {
    background-color: #1B1233;
    padding: 15.4%;
    text-align: center;  
    margin: auto;   
}

.icone {
    padding: 1%;
    margin-bottom: 8%;
    
}

#about-button {
    text-decoration: none;
    font-size: 200%;
    color: white;
    background-color: #5B76BD;
    padding: 1%;
    border-radius: 6%;    
}

#about {
    font-size: 20pt;
    background-color:#373475 ;
    color:white;
    text-align: center;
    padding: 4.3%;
    padding-top: 8%;
      
}

#profileImage {
   
    border: 5px solid #25eedda9;
    border-radius: 50%;
    object-fit: cover;
    height: 250px;
    width: 250px;
    transform: translateY(-30%);
  
    
}

#profileText { 
    width: 50%;
   
    font-size: 16pt;
    
    color:white;
    line-height: 1.5em; 
    margin: auto;
    width: 70%;
}

h2 {
    text-align: center;
    font-weight: 500;   
}

.lista {
    background-color: #5B76BD;
    text-align: center;
    list-style: none;
    
    font-size: 16pt;
    font-weight: 500;   
}

#linktrybe {
    color: white;    
}

#linktrybe:hover {
    color: #9AFCE7;
}

ul {
    background-color: #1B1233;
    padding: 0.8%;
    margin: 0;
    color: white;
}

.lista li {
    line-height: 1.5em;
    padding: 15px;
    font-size: 18pt;
    color: white;
}

li:last-of-type:hover {
    background-color: #FF5725;
    color:#E3EDE1;
}

li:hover {
    background-color: #0F88D9;
    color:#D4FEFF ;
}


    


